<header class="site-header">
  <div class="container header-inner">
    <a class="site-title" href="{{ '/' | relative_url }}">{{ site.title }}</a>

    <nav class="site-nav">
      <a href="{{ '/' | relative_url }}">About me</a>
      <a href="{{ '/news/' | relative_url }}">News</a>
      <a href="{{ '/publications/' | relative_url }}">Publications</a>
      <a href="{{ '/research/' | relative_url }}">Research</a>
      <a href="{{ '/teaching/' | relative_url }}">Teaching</a>
      <a href="{{ '/activities/' | relative_url }}">Activities</a>
      <a href="{{ '/cv/' | relative_url }}">My CV</a>
    </nav>
  </div>
</header>
